# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/
dist/
build/
.eggs/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Virtualenv
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Procedura SDK
.procedura/
runtime_ram/
logs/
report.csv
